@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome REVA University!</h1>
        <div class="buttonContainer">
            @*<button id="stopButton" onclick="confetti.stop();">Stop Confetti</button>
            <button id="startButton" onclick="confetti.start();">Drop Confetti</button>*@
        </div>
            <p></p>
        </div>
